
.nav{
display: flex;
justify-content: space-between;
align-items: center;
background-color:#0e387a;
text-align:center;
height:80px;
position:relative;
}

.nav .logo{
color:#fff;
padding: 0px 5%;
}

.nav .links{
display: inline-flex;
color:white;
padding: 0px 5%;
}

.links .link{
   margin-right: 30px;
   text-decoration: none;
   font-size: 21px;
   list-style-type:none;
}

