<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="nav">
    <h2 class="logo">Pitches</h2>

<ul class="links">
    <li class="link"><a href='/news/business'>Login</a></li>
   <li class="link"><a href='/news/technology'>SignUp</a></li>
    <li class="link"><a href='/news/health'>Profile</a></li>
    <li class="link"><a href='/news/health'>Logout</a></li>
</ul>
</div>

<h1>Account Login</h1>
  <p>Enter email and password to login</p>
<div>
 <input type="email" autofocus required id="email"  placeholder="email" />
 <input type="password" required id="password" placeholder="password" />
    <button type="submit " class="btn btn-primary " style="float:right ">Submit</button>

</div>
<span>Don't have an account? </span><a href="/auth/register" id="signup">Sign Up</Link>

</body>
</html>